<% content_for(:title, t('.title')) %>
<section class="text-gray-600 body-font">
  <div class="container mx-auto">
    <div class="flex flex-wrap justify-between">
			<% if @quests.present? %>
				<%= render @quests %>
			<% else %>
				<p><%= t('.no_result') %></p>
			<% end %>
    </div>
  </div>
</section>