<p><%= @user.decorate.name %>様</p>
<p>===============================================</p>
<p>こちら、ハンター事務局です。</p>
<p>パスワード再発行のご依頼を受け付けました。</p>

<p>下のリンクからパスワードの再発行を行ってください。</p>
<p><a href="<%= @url %>"><%= @url %></a></p>
<p>これからも、たくさんのGIVEをお待ちしております。</p>