<body class="antialiased bg-slate-200">
  <div class="max-w-lg mx-auto my-10 bg-white p-8 rounded-xl shadow shadow-slate-300">
    <h1 class="font-bold text-4xl"><%= t '.title' %></h1>
    <%= render "form", user: @user %>
    <%= link_to (t '.to_login_page'), login_path, class: "ml-4 inline-flex text-gray-700 bg-gray-100 border-0 py-2 px-6 focus:outline-none hover:bg-gray-200 rounded text-lg" %>
  </div>
</body>
