<% flash.each do |message_type, message| %>
  <% if message_type == "success" %>
    <div class="bg-green-50 text-green-500 px-3 py-2 font-medium rounded-lg mt-3">
      <p><%= message %></p>
    </div>
  <% elsif message_type == "danger" %>
    <div class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <p><%= message %></p>
    </div>
  <% end %>
<% end %>
