<div class="mx-auto md:w-2/3 w-full text-gray-800 h-screen flex items-center justify-center">
  <div class="bg-black bg-opacity-25 pt-10 pb-10 pl-5 pr-5">
    <h1 class="font-bold text-4xl mt-5 mb-5 text-gray-100"><%= t '.title' %></h1>

    <%= render "form" %>
    <%= link_to (t '.password_forget'), new_password_reset_path, class:"font-medium text-green-500 dark:text-blue-500 hover:underline" %>
    <%= link_to (t '.to_register_page'), new_user_path, class:"ml-4 inline-flex text-rose-400 border-0 py-2 px-6 focus:outline-none hover:bg-orange-200 rounded" %>
  </div>
</div>
